<template>

  <v-layout row>
    
    <v-flex xs12 sm6 offset-sm3>
      <v-card v-for="i in ambil_data" :key="i.tittle">
        <!-- <v-img
          :src="i.urlToImage"           
          height="200px"
        >
        </v-img> -->
                <v-img
                  :src="i.urlToImage" 
                  
                  class="grey lighten-2"
                >
                  <template v-slot:placeholder>
                    <v-layout
                      fill-height
                      align-center
                      justify-center
                      ma-0
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-layout>
                  </template>
                </v-img>
        <v-card-title primary-title>
          <div>
            <div class="headline">{{i.title}}</div>
            <span class="grey--text">{{i.publishedAt}}</span>
          </div>
        </v-card-title>

        <v-card-actions>
          <!-- <v-btn flat color="pink" 
          @click="dialog = true"
      :disabled="dialog"
      :loading="dialog"          
          >
            Load Data
          </v-btn> -->
          <v-btn flat color="pink"          
          >
            Lanjutkan
          </v-btn>          
          <v-spacer></v-spacer>
          <v-btn icon @click="show = !show">
            <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
          </v-btn>
        </v-card-actions>

        <v-slide-y-transition>
          <v-card-text v-show="show">
           {{i.content}}
          </v-card-text>
        </v-slide-y-transition>
      </v-card>
    </v-flex>
    <v-dialog
      v-model="dialog"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Tunggu Sebentar
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>


  </v-layout>

  <!-- <div
    id="e3"
    style="max-width: 400px; margin: auto;"
    class="grey lighten-3"
  >

    <v-card v-for="i in ambil_data" :key="i.tittle">
      <v-container
        fluid
        grid-list-lg
      >
        <v-layout row wrap>
          <v-flex xs12>
            <v-card color="blue-grey darken-2" class="white--text"  >
              <v-card-title primary-title>
                <div>
                  <div class="headline">Unlimited music now</div>
                  <span>Listen to your favorite artists and albums whenever and wherever, online and offline.</span>
                </div>
              </v-card-title>
              <v-card-actions>
                <v-btn flat dark>Listen now</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>



        </v-layout>
      </v-container>
    </v-card>
  </div> -->

  <!-- <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card  v-for="i in ambil_data" :key="i.tittle">
        <v-img
         :src="i.urlToImage" 
          aspect-ratio="2.75"
        ></v-img>

        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{ i.title }}</h3>
            <div> {{ i.description }} </div>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn flat color="orange">Share</v-btn>
          <v-btn flat color="orange">Explore</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout> -->


</template>
<script>
import axios from "axios";
  export default {
    data () {
      return {
      dialog: false,
      dialog2: false,
      show: false,
      ambil_data : [],
        items: [
          { action: '15 min', headline: 'Brunch this weekend?', title: 'Ali Connors', subtitle: "I'll be in your neighborhood doing errands this weekend. Do you want to hang out?" },
          { action: '2 hr', headline: 'Summer BBQ', title: 'me, Scrott, Jennifer', subtitle: "Wish I could come, but I'm out of town this weekend." },
          { action: '6 hr', headline: 'Oui oui', title: 'Sandra Adams', subtitle: 'Do you have Paris recommendations? Have you ever been?' },
          { action: '12 hr', headline: 'Birthday gift', title: 'Trevor Hansen', subtitle: 'Have any ideas about what we should get Heidi for her birthday?' },
          { action: '18hr', headline: 'Recipe to try', title: 'Britta Holt', subtitle: 'We should eat this: Grate, Squash, Corn, and tomatillo Tacos.' }
        ]              
      }            
    },
created() {
this.dialog = true  
    axios
      .get('https://newsapi.org/v2/top-headlines?country=id&category=Science&apiKey=87de8ee1a31442c784939dd23fc1a188')
    .then(response => {
      this.ambil_data=response.data.articles
this.dialog = false      
    })
  },
    watch: {
      dialog (val) {
        if (!val) return

      }
    }       
  }
</script>