<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      fixed
      app
    >
      <v-list dense>
     <v-list>
        <v-list-tile>
          <v-list-tile-title class="title">
            Pilih Category
          </v-list-tile-title>
        </v-list-tile>
      </v-list> 
        <v-list-tile @click="p_teknologi()">
          <v-list-tile-action>
            <v-icon>adb</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Teknologi</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>          
        <v-list-tile @click="p_bisnis()">
          <v-list-tile-action>
            <v-icon>business</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Bisnis</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="p_hiburan()">
          <v-list-tile-action>
            <v-icon>games</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Hiburan</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="p_kesehatan()">
          <v-list-tile-action>
            <v-icon>healing</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Kesehatan</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="p_ilmu">
          <v-list-tile-action>
            <v-icon>school</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Ilmu Pengetahuan</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="p_olah">
          <v-list-tile-action>
            <v-icon>accessibility</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Olah Raga</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>                        
      </v-list>
    </v-navigation-drawer>       
        <v-toolbar color="pink" dark>
          <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>

          <v-toolbar-title>Newz All</v-toolbar-title>

          <v-spacer></v-spacer>

<v-bottom-sheet v-model="sheet">
      <template v-slot:activator>
    <v-btn icon>
      <v-icon>more_vert</v-icon>
    </v-btn>
      </template>
      <v-list>
        <v-subheader>Buka Dengan</v-subheader>
        <v-list-tile
          v-for="tile in tiles"
          :key="tile.title"
          @click="sheet = false"
        >
          <v-list-tile-avatar>
            <v-avatar size="32px" tile>
              <img
                :src="`https://cdn.vuetifyjs.com/images/bottom-sheets/${tile.img}`"
                :alt="tile.title"
              >
            </v-avatar>
          </v-list-tile-avatar>
          <v-list-tile-title>{{ tile.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-bottom-sheet>
        </v-toolbar>
  <div
    class="hide-overflow"
    style="position: relative;"
  >
    <div
      id="scrolling-techniques"
      class="scroll-y"
      style="max-height: 600px;"
    >
      <transition
        name="fade"
        mode="out-in"
      >
        <router-view/>
      </transition>
    </div>
    </div>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data () {
    return {
      sheet: false,
drawer: null,      
      tiles: [
        { img: 'keep.png', title: 'Keep' },
        { img: 'inbox.png', title: 'Inbox' },
        { img: 'hangouts.png', title: 'Hangouts' },
        { img: 'messenger.png', title: 'Messenger' },
        { img: 'google.png', title: 'Google+' }
      ]  
    }
  },
  methods : {
    p_teknologi: function(){      
     this.$router.push('/')    
    },    
    p_bisnis: function(){      
     this.$router.push('about')    
    },
p_hiburan: function(){      
     this.$router.push('hiburan')    
    },
p_kesehatan: function(){      
     this.$router.push('kesehatan')    
    },
p_ilmu: function(){      
     this.$router.push('ilmu')    
    },
p_olah: function(){      
     this.$router.push('olah')    
    }                
  }  
}
</script>
<style>
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
</style>

